<h1>
	Welcome to AJ-smart {{ title }} &copy; 2018!
</h1>
<hr><br>
<fieldset>
	<legend>
		<h3>Cart Details CARD for <b>{{cart.userName}}</b></h3>
	</legend>
	<form #f="ngForm" (ngSubmit)="onSubmitSave(f)" novalidate>
		<!--USERNAME RETRIEVE CART -->
		<label>UserName</label>
		<div>
			<input type="text" placeholder="{{uNPlaceHolder}}" name="userName" #user="ngModel" [(ngModel)]="cart.userName" required>
			<button #getLoad type="button" [disabled]="!user.valid" (click)="loadOrSignUp('load')"><strong style="color:darkblue">LOAD</strong> From Saved Cart</button>
			<button #signUp type="button" [disabled]="!(toRegister&&user.valid)" (click)="loadOrSignUp('signup')"style="color:white; background-color:darkblue"><strong> SIGN UP</strong></button>
			<br><br><br>
		</div>
		<!--POPULATE CART AND SAVE TO SERVER  -->
		<label>Add item to cart </label>
		<div>
			<input type="text" placeholder="Enter new item into cart" name="addToCart" #stack="ngModel" [(ngModel)]="newItem" required>
			<button #add type="button" [disabled]="!(stack.valid&&user.valid)" (click)='cart.contents.push(stack.value)'><strong style="color:darkblue">ADD</strong> To Cart</button>
			<button #pop type="button" [disabled]="(cart.contents.length==0)" (click)='cart.contents.pop(stack.value)'><strong style="color:darkblue">POP</strong> From Cart</button>

			<p>Your cart list has: <b>{{cart.contents.length}} item(s)</b>, last saved: {{cart.savedTime}}</p>
			<ul>
				<li *ngFor="let item of cart.contents">
					<span>{{item}}</span>
				</li>
			</ul>
			<button #save type="submit" [disabled]="(cart.contents.length<1)||(user.invalid)"><strong style="color:darkblue">SAVE</strong> New Cart</button>
		</div>
		<!--  -->
	</form>
</fieldset>